.nosotros{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-mainIndex;
    padding: 30px;
    &Titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include titulos;
        color: $color-main;
        background-color: $color-navegacion;
        text-align: center;
        font-weight: normal;
        border-radius: 15px;
        margin-bottom: 40px;
    }
    &Parrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $letra-contenido;
        font-size: 20px;
        color: $color-letras2;
        }
    &Imagen{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        border-radius: 80px;
        border: 5px solid $color-main;
        margin-left: 20px;
    }
}