.tituloOfertas{
    @include titulos;
}

.container{
    display:grid;
    font-family: $letra-contenido;
    font-size: 20px;
    color: $color-letras2;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .descuentoOfertas{
        text-decoration: line-through;
        color: $color-botones;
    }
}