.productos{
    background-color: rgba(245, 214, 214, 0.247);
    margin: 0;
    &Info{
        font-size: 17px;
        font-family: $letra-contenido;
        font-weight: bold;
    }
    &Titulo{
        @include titulos;
        margin-top: 0;
        padding-top: 30px;
    }
    &Logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-letratitulomain;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;

    }
}

.boton{
    background-color: $color-letratitulomain;
    color: $color-letras;
    font-size: large;
    border-radius: 1rem;
    width: 11rem;
    height: 2rem;
    margin-bottom: 2rem;
    &:hover{
        transform: scale(1.1);
    }
}