/* colores */
$color-navegacion: black;
$color-botones: rgb(199, 5, 5);
$color-letras: rgb(240, 243, 240);
$color-letras2: rgb(0, 2, 0);
$color-letratitulomain: rgb(230, 23, 23);
$color-main:  white;
$color-footer: linear-gradient( to bottom, black , rgb(34, 34, 34), grey );

/* letras */
$letra-titulo: Arial, Helvetica, sans-serif;
$letra-contenido: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
