@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:ital,wght@0,300;1,200&display=swap');
@import 'variables';
@import 'mixin';
@import 'generales';
@import 'index';
@import 'productos';
@import 'ofertas';
@import 'contacto';
@import 'nosotros';



@media (min-width: 320px) and (max-width: 520px){
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a{
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    .nosotros {
        flex-direction: column;
    }

    .nosotrosImagen {
        width: 250px;
    }

    .indexFoto{
        width: 100%;
    }

    .indexInfo {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        margin: 0;
    }

    .indexInfohora{
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        text-align:center;
        margin: 0;
    }

    .indexInfodireccion{
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        text-align:center;
        margin: 0;  
    }
    
    .indexInfomapa{
        width: 100%;
        margin: 0;
    }

    .logoEinhell{
        width: 100%;
    }
}

@media (min-width: 521px) and (max-width: 720px){
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    .nosotros {
        flex-direction: column;
    }

    .nosotrosImagen {
        width: 250px;
    }

    .indexFoto{
        width: 250px;
        height: 250px;
    }

    .indexInfo{
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        text-align:center;
        padding: 10px;
    }

    .indexInfohora{
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    padding: 10px;
    width: 100%;
    }

    .indexInfodireccion{
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        text-align:center;
        padding: 10px;
    }

    .indexInfomapa{
        width: 100%;
    }

    .logoEinhell{
        width: 400px;
        height: 100px;
    }
}


