@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:ital,wght@0,300;1,200&display=swap');
@import 'variables';
@import 'generales';
@import 'index';
@import 'productos';
@import 'ofertas';
@import 'contacto';
@import 'nosotros';


@media (min-width: 320px) and (max-width: 520px){
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a{
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }
    .nosotrosImagen {
        width: 200px;
    }
}

@media (min-width: 521px) and (max-width: 720px){
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }
    .nosotrosImagen {
        width: 250px;
    }
}


