@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:ital,wght@0,300;1,200&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

.grillaConteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    gap: 1rem;
}

header{
    grid-area: header;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.imagenLogo{
    width: 12%;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navegador{
    display: flex;
    align-items: center;
}

ul li{
    display: flex;
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px; 
    font-family: 'Poppins', sans-serif;
    margin: 10px; 
}

main{
    grid-area: main;
    background-color: white;
    margin-top: 0;
}

footer{
    grid-area: footer;
    background: linear-gradient( to bottom, black , rgb(34, 34, 34), grey );
    text-align: center;
    color: whitesmoke;
    font-family: 'Lora', serif;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 50px; 
}

    /* index */

.mainIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.titulo{
    color: #bd1616;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 0;
}

.subtitulo{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 0;
}

.figure {
    display: flex;
    flex-direction: column;
}

.imagenferre{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 100px;
    padding-top: 20px;
}

.pieFoto{
    margin-top: 10px;
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

/* productos */

.productos{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:300px;
    font-size: 20px;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    justify-content: space-evenly;
}

.borde {
    border: #000000 solid 2px;
}

.boton{
    background-color: black;
    color: white;
    width: 300px;
    height: 30px;
}

.boton:hover{
    transform: scale(1.1);
}

/* ofertas */

.ofertasMain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tituloOfertas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.descuentoOfertas{
    text-decoration: line-through;
    color:gray;
}
/* contacto */

/* .mainContacto{
    display: flex;
} */

.formularioContacto{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:whitesmoke;
    border-color: #bd1616;
    border-style:double;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.contactoTitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin: 30px;
    margin-top: 20px;
    padding: 10px;
}

.nombreContacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    width: 300px;
}

.apellidoContacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    width: 300px;
}

.emailContacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    width: 300px;
}

.telefonoContacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    width: 300px;
}

.mensajeContacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 120px;
    width: 300px;
}

.enviarContacto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:whitesmoke;
    background-color:#000000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    text-align:center;
    font-weight:lighter;
}

.enviarContacto:hover{
    transform: scale(1.2);
}

/* nosotros */
.nosotros{
    background-color: white;
    text-align: center;
}

.tituloNosotros{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
}

.parrafoNosotros{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #df0707;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.imagenNosotros{
    margin-top: 100px;
    border-radius: 30px;
}

.imagenNosotros:hover{
    animation: aleYoski 5s;
}

@keyframes aleYoski{
    0%{
        border-radius: 50%;
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: translateX(200px);
    }
    75%{
        transform: translateY(100px)
    }
}

@media (min-width: 320px) and (max-width: 520px){
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a{
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }
}

@media (min-width: 541px) and (max-width: 720px){
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }


}

